html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(211, 211, 211);
}
  body .container {
    width: 500px;
  }

  body .container h1 {
    font-weight: 300;
  }
    body .container input[type="number"] {
      width: 100%;
      height: 40px;
      border: none;
      font-size: 22px;
      padding-left: 5px;
    }

  body .result * {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    font-size: 26px;
    display: inline-block;
  }